<div class='users_show_page'>

<%= image_tag avatar_for(@user), alt: 'User Avatar', class: 'avatar' %>
<%#= image_tag @user.avatar, alt: 'Avatar', class:'avatar'%>
<div><%= @user.name %></div>

<div>Email:<%= @user.email %></div>

<div>Records :</div>
<ul>
  <% @user.records.each do |record| %>
  <li>
    <%= render partial: 'records/record', locals: { record: record } %>
  <% end %>
  </li>
</ul>



</div>