<div class='users_show_page'>

  <%= render partial: 'user', locals: { user: @user } %>

  <div>Records of this user:</div>
  <ul>
    <% @user.records.each do |record| %>
    <li>
      <%= render partial: 'records/record', locals: { record: record } %>
    <% end %>
    </li>
  </ul>
  

  <div>
    <%= button_to 'Edit' , edit_user_path(@user), method: :get, class: "button-blue" %>
    <%#= button_to "Delete", user_path(@user), method: :delete, class: "button-blue"  %>
  </div>


</div>