<div class='record_card'>


  <% if record.record_status == 'overflow' %>
    <div class="icon-overflow">!</div>
  <% elsif record.record_status == 'resolved' %>
    <div class="icon-resolved">✓</div>
  <% end %>

  <div>id:<%= record.id %></div>
  <div class='font-small'>
    <div>Create at:<%= record.created_at %></div>
    <div>Update at:<%= record.updated_at %></div>
  </div>
</div>