<%#= stylesheet_link_tag 'records' %>


<div class='records_index_page'>
<h1>Records Page</h1>
 
<button>Add New Record</button>

<p><%= pluralize(Record.count, 'record')  %></p>
<ul class='records_list'>
  <% @records.each do |record| %>
    <li>
    <%= render record %>
    </li>
  <% end %>
</ul>



  
</div>




