<%= stylesheet_link_tag 'records' %>


<div class='records_index_page'>
<h1>Records Page</h1>
 
<button>Add New Record</button>

<p><%= pluralize(Record.count, 'record')  %></p>
<ul class='records_list'>
  <% @records.each do |record| %>
    <li>
      <% if record.title.present? %>
        <%=link_to record.title ,record%>
      <% else %>
        'no title'
      <% end %>
    <%= render record %>
    </li>
  <% end %>
</ul>



  
</div>




