@import "variables.css";
@import "frequently_used.css";
@import "shared.css";
@import "navbar.css";
@import "records.css";
@import "users.css";

body{
  padding-bottom: 20px;
}

a {
  text-decoration: none;
  color: var(--blue-1);
}

a:hover {
  color: var(--blue-2);
}

button , .button{
  background: white;
  border-radius: 3px;
}

.debug_dump{
  position: fixed;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 100;
  border-top: 2px solid var(--red-2);
}