.users_page{
  .users_list{
    display: flex;
    flex-direction: column;
    .user_card{
      margin: 5px 0;
    }
  }
  .user_card{
    display: flex;
    .avatar{
      width: 5vw;
    }
    .user_name{
      font-size: 20px;
    }
  }
}

.user_card {
  .avatar{
    width: 8vw;
    height: auto;
  }
}

.user_form{

  .avatar_upload_btn:hover{
    cursor: pointer;
  }

}


